html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, address, code, em, img, small, strike, strong, sub, sup, b, u, i, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, section

/* ,ol, ul, li */
  {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: ;
font-family: 'Nunito', sans-serif;
  color: white;
}

::-moz-selection {
  color: ;
  background: ;
}

::selection {
  color: ;
  background: ;
}

/* ------TYPOGRAPHY------ */
/* Texts */
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin-bottom: px;
  text-align: ;
}

/* Links */
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

a, a:visited {
  text-decoration: none;
    transition: 1.5s ;
}

a:hover {
  opacity: 0.7;
    transition: 1.5s;
}
.liste-nav a:hover {
  opacity: 0.7;
  color:#b0bec5;
    transition: 1.5s;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: , sans-serif;
}

h1 {
  font-size: rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: rem;
  font-weight: 700;
  margin: 0;
}

h3, h4, h5, h6 {
  font-weight: 600;
  margin: ;
  color:black;
  text-align: center;
}

h3 {
  font-size: rem;
}

h4 {
  font-size: rem;
}

h5 {
  font-size: rem;
}

h6 {
  font-size: rem;
}
footer{
  background-color: #f5f5f5;
}
input{
  width: 120px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
  padding: 0 5px;
}
textarea {
    resize: none;
    width: 305px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.background-header {
  height: 600px;
  background-image: url(../image/womanoncar.jpg);
  color: rgb(51, 105, 30);
  background-attachment: unset;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px white;
  display: flex;
  top: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 1px 10px black;

}

.liste-nav {
  text-align: right;
  display: flex;
  justify-content: space-around;
  width: 510px;
}

.logo {
  height: 55px;
  margin-left: 20px;
  margin-top: 10px;
}


.texte-header {
  text-align: center;
  padding-top: 110px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 43px;
}

.liste-recherche {
      display: flex;
      /* padding-left: 390px;
      padding-top: 140px; */
      width: 50%;
      margin: 65px auto 0;
      background-color: #ffffffb3;
      padding: 20px;
      border-radius: 5px;
  }

.btn-recherche {
  color: white;
  border: 1px solid white;
  background-color: #fafafa;
  text-shadow: 1px 0px 0px white;
  padding: 8px 50px;
  opacity: 1;
  font-size: 20px;
  border-radius: 2px;
  font-style: italic;
  font-weight: 400;
}

.btn-rechercher {
  padding: 8px 70px;
  border: 1px solid rgb(51, 105, 30);
  border-radius: 50px;
  background-color: rgb(51, 105, 30);
  color: white;

}

.bande-promo {
  background-color: rgb(51, 105, 30);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70px;
  font-size: 1.7em;
  color: white;
}

.bouton-decouvrez {
  margin-left: 50px;
  margin-left: 50px;
  border: 1px white solid;
  border-radius: 100px;
  padding: 3px 70px;
  background-color: white;
  color: rgb(51, 105, 30);
  font-size: 0.7em;
      text-align: center;
}

.bouton-header {
  background-color: white;
  border: 1px white solid;
  padding: 3px 70px;
  background-color: white;
  color: black;
  font-size: 1em;
}

.bouton-rechercher {
  background-color:rgb(51, 105, 30);
  border: 1px rgb(51, 105, 30) solid;
  padding: 3px 30px;
  color: white;
  font-size: 1em;
  margin-right: 10px;
}

.liste-bouton-header {
  height: 205px;
  justify-content: flex-end;
  display: flex;
}

.date {
  margin: 100px;
}

.top-voiture {
  padding-bottom: 40px;
  padding-top:40px;
}

.h2-titre {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-size: 50px;
  text-shadow: 1px 1px 0px black;
  padding: 10px;
}

.les-produits {
  display: flex;
  justify-content: space-around;
  margin : 50px 0px 50px 0px ;
}
.champ{
  margin-right: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.header-zoe {
  background-image: url('../image/zoe-voiture.jpg');
  height: 200px;
  width: 300px;
  background-size: cover;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.voiture-zoe:hover{
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.header-tesla {
  background-image: url('../image/tesla-voiture.jpeg');
  height: 200px;
  width: 300px;
  background-size: cover;
  position: relative;
}

.voiture-tesla:hover {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header-nissan {
  background-image: url('../image/nissan-voiture.jpg');
  height: 200px;
  width: 300px;
  background-size: cover;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.voiture-nissan:hover{
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.adresse-voiture {
  color: white;
  font-size: 1em;
  float: left;
  flex-wrap: wrap;
  background-color: rgb(51, 105, 30);
  position: absolute;
  bottom: 0;
  left: 0;
}

.prix-voiture {
  color: white;
  font-size: 1.3em;
  float: right;
  background-color:rgb(51, 105, 30);
  position: absolute;
  bottom: 0;
  right: 0;
}

.p-produit {
  color: black;
  font-size: 0.8em;
}

.description-product {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
}

.fa-star {
  color: gold;
}

.passe-ligne {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nom-voiture {
  font-size: 25px;
}

.test {
  display: flex;
  justify-content: space-between;
}

.place-autonomie {
  font-size: 15px;
      padding-left: 46px;
}

.coeur {
  position: absolute;
  padding-left: 260px;
  padding-top: 5px;
  font-size: 30px;
}

.presentation-concept {
  background-color:rgb(51, 105, 30);
  display: flex;
}

.presentation-photos {
  height: 350px;
  border-radius: 0px 10px 10px 0px;
}

.h2-concept {
  text-align: center;
  font-size:42px;
  text-shadow: 1px 0px 0px black;
  padding-top: 25px;
}

.p-concept {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
  margin-top: 30px;
}
.louer-moi{
  color: white;
    background-color: rgb(51, 105, 30);
    width: 300px;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 0px 0px black;
    display: block;
    border-radius: 0px 0px 10px 10px;
}
.voiture{
  border-radius: 0px 0px 10px 10px;
}
.article-avantage{
  display:flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
.icones-avantages{
  height: 170px;
}
.avantage{
  width: 250px;
text-align: center;
color: black;
}
#container-logo-footer{
  text-align: center;
}
#p-footer{
  color:black;
}
#container-row-footer{
  display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.container-assure{
  width: 250px;
  padding-left: 40px;
}
.container-formulaire{
  width: 320px;
}
.apfooter{
  margin-top:15px;
  padding-top: 25px;
}
.lien-apropo{
  display:flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 25px;
}
.reseux-sociaux{
  display:flex;
  justify-content: center;
}
.logo-rs{
  height: 50px;
  margin-left: 10px;


}
.logo-footer{
  height: 100px;
}
.liste-CGU{
  text-align: center;
      padding-top: 15px;
}
.CGU{
  color: rgb(51, 105, 30);
margin-left: 5px;
text-align: center;
}
#barre{
  border-top: 1px solid rgb(51, 105, 30);
height: 5px;
width: 196px;
margin-left: 579px;
margin-top: 10px;
display: block;
}
#Nom{
  text-align: center;
    padding: 1px 60px;
    border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      width: 188px;

}
#email{
  text-align: center;
      padding: 1px 60px;
      border-radius: 5px;
        margin-top: 10px;
              box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
              width: 188px;
}
#envoyer {

      width: 100%;
      padding: 7px;
      border: 1px solid rgb(51, 105, 30);
      border-radius: 50px;
      background-color: rgb(51, 105, 30);
      color: white;
      text-transform: uppercase;

  }
  .icone-rs{
    font-size: 50px;
color: rgb(51, 105, 30);
margin-right: 15px;
  }
}
